{% extends 'base.html' %}

{% block content %}

<h1 class="display-1">Feedback</h1>
<p class="lead">Add Feedback Below</p>

<form method="POST">
    {{form.hidden_tag()}}
    {% for field in form.errors %}
    <div class="alert alert-danger">{{ field }}:
      <ul>
        {% for error in form.errors[field] %}
          <li>{{ error }}</li>
        {% endfor %}
      </ul>
    </div>
  {% endfor %}
    {% for field in form 
        if field.widget.input_type != 'hidden' %}
    <div class="form-group">
        {{field.label}}
        {{field (class_='form-control')}}

        {% for error in field.error %}
        {{error}}
        {% endfor %}
    </div>
    {% endfor %}

    <button type="submit" class="btn btn-success">Submit Feedback</button>
</form>

{% endblock %}